streamlit
pandas
numpy
requests
yfinance
matplotlib
scipy
pytz
statsmodels
streamlit-autorefresh
tabulate
plotly
scikit-learn
seaborn
cvxpy
pyportfolioopt
ta
pandas-datareader
python-dotenv
pytz
beautifulsoup4
lxml
openpyxl
jinja2
markdown
html5lib
altair
feedparser